
#banner{
	width: 100%;
	height: 28rem;
	max-width: 7.5rem;
	min-width: 3.26rem;
	background: #F5F5F5;
	margin: 0 auto;	
	overflow: hidden;
}
#banner .top{
	width: 100%;
}
#banner .top img{
	width: 100%;
}
.jiu{
	width: 96%;
	height: 2.9rem;
	background: white;
	margin: 0 auto;
}
.jiu ul{
	width: 100%;
}
.jiu ul li{
	width: 100%;
	display: block;
	margin-top: 0.14rem;
}
.jiu ul .box{
	width: 40%;
	float: left;
}
.jiu ul .box img{
    width: 90%;
    height: 90%;
    display: block;
    margin: 0 auto;
    margin-top: 5%;
}
.jiu ul li .box1{
	width: 60%;
	height: 2.9rem;
	float: right;
	/*background: yellow;*/
}
.jiu ul li .box1 p{
	width: 95%;
	display: block;
	margin-bottom: 1.36rem;
	font-size: 0.38rem;
}
.jiu ul li .box1 h4{
    font-size: 0.38rem;
    font-weight: 400;
    color: #FF0000;
}
.jiu ul li .box1 span{
	width: 40%;
	height: 0.5rem;
	display: block;
	float: right;
	text-align: center;
	line-height: 0.5rem;
	background: #FF0000;
	font-family: '微软雅黑'
	margin-left: 1rem;
	font-size: 0.36rem;
}


.jiu ul li{
	width: 100%;
	height: 2.9rem;
	display: block;
	margin-top: 0.14rem;
	background: white;
}
.jiu ul .bo{
	width: 40%;
	float: left;
}
.jiu ul .bo img{
    width: 90%;
    height: 90%;
    display: block;
    margin: 0 auto;
    margin-top: 5%;
}
.jiu ul li .bo1{
	width: 60%;
	height: 2.9rem;
	float: right;
}
.jiu ul li .bo1 p{
	width: 95%;
	display: block;
	margin-bottom: 1.36rem;
	font-size: 0.38rem;
}
.jiu ul li .bo1 h4{
    font-size: 0.38rem;
    font-weight: 400;
    color: #FF0000;
}
.jiu ul li .bo1 span{
	width: 40%;
	height: 0.5rem;
	display: block;
	float: right;
	text-align: center;
	line-height: 0.5rem;
	background: #FF0000;
	font-family: '微软雅黑'
	margin-left: 1rem;
}





.jiu ul li{
	width: 100%;
	height: 2.9rem;
	display: block;
	margin-top: 0.14rem;
	background: white;
}
.jiu ul .bx{
	width: 40%;
	float: left;
}
.jiu ul .bx img{
    width: 90%;
    height: 90%;
    display: block;
    margin: 0 auto;
    margin-top: 5%;
}
.jiu ul li .bx1{
	width: 60%;
	height: 2.9rem;
	float: right;
}
.jiu ul li .bx1 p{
	width: 95%;
	display: block;
	margin-bottom: 1.36rem;
	font-size: 0.38rem;
}
.jiu ul li .bx1 h4{
    font-size: 0.38rem;
    font-weight: 400;
    color: #FF0000;
}
.jiu ul li .bx1 span{
	width: 40%;
	height: 0.5rem;
	display: block;
	float: right;
	text-align: center;
	line-height: 0.5rem;
	background: #FF0000;
	font-family: '微软雅黑'
	margin-left: 1rem;
}


#banner .re{
	width: 100%;
	height: 100%;
	background: #CECECE;
	margin-top: 6.08rem;
	padding: 0 0.32rem;
	text-align: center;
	line-height: 0.76rem;
}
 .re h3{
    	width: 26%;
    	display:block;
    	margin: 0 auto;
    	color: black;
    	font-weight: 400;
    }
    .re div{
    	width: 6%;
    	height: 0.01rem;
    	position: absolute;
    	background: #666666;
    	

    }
    .re .re_1{
    	right: 5.2rem;
    	top: 15.84rem;
    	
    }
    .re .re_2{
    	left: 5.2rem;
    	top: 15.84rem;
    }
    .re p{
    	float: left;

    }
    



